body {
	background-color: gray;
}

.game-options {

}

h1{
	text-align: center;
}

table {
	width: 100%;
}

table img{
	padding: 3%;
	border: 6px double #555;
	border-radius: 50%;
	margin: 2%;
	vertical-align: text-top;
	width: 20%;
	max-height: 70%;
}

.time-input {
	display: inline;
}

